.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

## stuff to delete (sim outputs, old and current)
code/simulation/input
code/cumu_effect_analysis/simulation/code_batchtools/output/
code/simulation/registry/

*.pdf
*.eps
*.tex
*.slurm